.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}

.gallery a {
  overflow: hidden;
}

.gallery img {
  width: 351px;
  height: 351px;
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
