/* IMPORT STATEMENTS - EXAMPLE FONTS FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Metal+Mania');

/* CUSTOM FONTS IN PROJECT */
@font-face {
  font-family: 'Booter - Zero Zero';
  src: url('fonts/Booter\ -\ Zero\ Zero.woff') format('woff');
  src: url('fonts/Booter\ -\ Zero\ Zero.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BetterFly';
  src: url('../fonts/betterfly-draft-webfont.woff2') format('woff2'),
    url('../fonts/betterfly-draft-webfont.woff') format('woff');
}

@font-face {
  font-family: 'BFNarrow';
  src: url('../fonts/betterfly-narrow-webfont.woff2') format('woff2'),
    url('../fonts/betterfly-narrow-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'),
    url('https://fonts.gstatic.com/s/crimsontext/v8/wlpogwHKFkZgtmSR3NB0oRJfajhRK_Z_3rhH.woff2')
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA;
}

/* DECLARING CSS VARIABLES(CUSTOM PROPERTIES) */
:root {
  /* Example colors */
  --primary-color: rgb(54, 112, 199);
  --light-color: #f4f4f4;
  --dark-color: #333;
  --warning-color: rgb(99, 36, 36);
}

/* GLOBAL STYLES */

html {
  /* Used to create sticky footer */
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Next three lines of code are for sticky footer */
  min-height: 100%;
  display: flex;
  flex-direction: column;

  /*SET UP GRID TO DISPLAY ELEMENTS */
  display: grid;

  /* This is the rows of my grid and they will have four columns with a 
   height of auto to fit content inside of it after the forward slash I am
   defining the width of each of my columns*/
  grid:
    'header header header header' auto
    '...... lists  active ......' auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.main-footer {
  /* This is for sticky footer */
  margin-top: auto;
}
